@model BeestjeFeestje_2119859_FlorisWeijns.ViewModels.AnimalIndexViewModel

@{
    ViewData["Title"] = "Animals";
}

<h2>Animals</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                AnimalName
            </th>
            <th>
                Cost
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Animals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>|
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
