@model BookingCreateViewModelThree

<h1>Boek een Beestje</h1>

<div class="d-inline-flex">
    <form asp-action="Confirm" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-primary" value="Boek" />
    </form>

    <div>
        <h3>Boeking Info</h3>
        <p>Geselecteerde Datum: @Model.Date.ToShortDateString()</p>
        <p>Geselecteerde Beestjes:</p>
        <div class="d-inline-flex flex-row justify-content-center flex-wrap">
            @foreach (var animal in Model.SelectedAnimals)
            {
                <div class="card m-2" style="width: 18rem;">
                    <p><span>Naam: </span>@animal.Name</p>
                    <img src="@animal.ImageUrl" />
                    <p><span>Cost: </span>@animal.Cost</p>
                </div>
            }
        </div>
        <table>
            <thead>
                <tr>
                    <td>
                        Totaal
                    </td>
                    <td>
                        Korting
                    </td>
                    <td>
                        Prijs
                    </td>
                </tr>
            </thead>
            <tr>
                <td>@Model.Cost</td>
                <td>@Model.Booking.Discount %</td>
                <td>@Model.Price</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
