@model BookingCreateViewModelTwo

<h1>Boek een Beestje</h1>

<div class="d-inline-flex">
    <form asp-action="BookThree" method="post" >
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="Animals"/>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        @if(Model.UserId == null)
        {
            <input type="hidden" asp-for="Name"/>
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="PhoneNumber"/>
            <input type="hidden" asp-for="Address"/>
            <input type="hidden" asp-for="PostalCode"/>
        }
        else
        {
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        }

        <input type="submit" class="btn btn-primary" value="Boek" />
        <div class="">
            <label asp-for="SelectedAnimalNames">Selecteer de dieren die je wil boeken:</label>
            <select asp-for="SelectedAnimalNames" asp-items="@Model.Animals" multiple>
            </select>
        </div>
    </form>

    <div>
        <h3>Order Info</h3>
        <p>Selected Date: @Model.Date</p>
    </div>
</div>
<div class="d-inline-flex flex-row justify-content-center flex-wrap">
    @foreach (var animal in Model.AnimalList)
    {
        <div class="card m-2" style="width: 18rem;">
            <img src="@animal.ImageUrl" />
            <div class="card-body">
                <h5 class="card-title
                        ">
                    @animal.Name
                </h5>
                <p class="card-text">@animal.AnimalType.Name</p>
                <p class="card-text">Kosten: @animal.Cost</p>
                <p class="card-text">Type: @animal.Description</p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}